// colors

$background-color: #fb6b6b;
$button-background-color: #ffffff;
$card-background-color: #ffffd4;

$light-text-color: #ffffff;
$alternate-text-color: #d70900;
$border-color: #d70900;
$dark-text-color: #333333;

$wrong-color: #ff3030;
$almost-wrong-color: #ff922e;
$right-color: #2fbe34;