// fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import "variables";

// patterns

%default-font {
    font-family: "Roboto", sans-serif;
    color: white;
}

%default-border-radius {
    border-radius: 5px;
}

%default-button-shadow {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

%footer-shaddow {
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

%card-answered {
    font-weight: 700 !important;
    text-decoration-thickness: 2px !important;
    text-decoration: line-through !important;
}

// mixins

@mixin desktop-only {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin mobile-only {
    @media (max-width: 767px) {
        @content;
    }
}

// general rules

* {
    box-sizing: border-box;
}

body {
    @extend %default-font;
    background-color: $background-color;
}

// utilitaries

.wrong {
    color: $wrong-color !important;
    @extend %card-answered;
}
.almost-wrong {
    color: $almost-wrong-color !important;
    @extend %card-answered;
}
.right {
    color: $right-color !important;
    @extend %card-answered;
}

// home

.home {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-color;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        @extend %default-font;
        font-size: 36px;
        font-weight: 700;

        margin: 10px 0;
    }

    &__icon {
        width: 100px;
        margin: 10px 0;
    }

    &__button {
        @extend %default-button-shadow, %default-border-radius;

        background-color: $button-background-color;

        font-size: 18px;
        color: $alternate-text-color;

        min-width: 250px;
        max-width: 340px;

        padding: 10px 70px;
        margin: 80px 0;

        border: 1px solid $border-color;
    }
}

// header

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    &__icon {
        width: 50px;
        margin-right: 10px;
    }

    &__title {
        font-size: 35px;
    }
}

//main

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        width: 90vw;
        min-height: 60px;
        margin: 10px 0;
        padding: 10px 15px;

        background-color: $button-background-color;

        color: $dark-text-color;
        font-size: 18px;
        font-weight: 700;

        @extend %default-border-radius, %default-button-shadow;

        &__face {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            left: 0;
            width: 100%;
            padding: 20px 15px;
        }

        &.is-opened {
            min-height: 130px;

            & .card__face {
                align-items: flex-start;

                background-color: $card-background-color;
                width: 100%;
                height: 100%;

                font-weight: 400;

                @extend %default-border-radius;

                transform-style: preserve-3d;
                backface-visibility: hidden;

                &--front {
                    transform: rotateX(0deg);
                }

                &--back {
                    transform: rotateY(180deg);
                }
            }
            &.turned .card__face--front {
                transform: rotateX(180deg);
            }
            &.turned .card__face--back {
                transform: rotateX(0deg);
            }
        }

        &__icon {
            font-size: 30px;
        }

        &__turn-icon {
            height: 20px;

            position: absolute;
            bottom: 10px;
            right: 15px;
        }

        &__buttons {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 10px 5px;
        }

        &__button {
            flex-grow: 1;

            @extend %default-font;

            padding: 10px;
            margin: 0 5px;

            cursor: pointer;

            @extend %default-border-radius;
            border: none;

            &--wrong {
                background-color: $wrong-color;
            }
            &--almost-wrong {
                background-color: $almost-wrong-color;
            }
            &--right {
                background-color: $right-color;
            }
        }
    }
}

//footer

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    // height: 90px;

    background-color: white;
    color: $dark-text-color;
    font-size: 20px;

    @extend %footer-shaddow;

    &__title {
        display: flex;
        align-items: center;

        margin: 10px 0 5px;

        font-weight: 700;
    }

    &__title-icon {
        height: 25px;
        width: 25px;

        margin-right: 10px;
    }

    &__main-message {
        width: 70%;
        text-align: center;

        margin: 10px 0 15px;
    }

    &__card-counter {
        margin: 5px;
    }

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 25px;
    }
}
